.game-box {
  border: 1px solid black;
  width: 50%;
  height: 30%;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(3, 100px);
}

.ground {
  height: 1px;
  background: brown;
  grid-column: 1 / -1;
  grid-row: 2;
  align-self: end;
}

.dinosaur {
  height: 20px;
  width: 20px;
  background: blue;
  grid-column: 4;
  grid-row: 2;
  align-self: end;
}

.cactus {
  height: 20px;
  width: 20px;
  background: green;
  grid-column: -10;
  grid-row: 2;
  align-self: end;
}